<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Launcher.Properties.Settings>
      <setting name="GuiEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupScript" serializeAs="String">
        <value>cd c:\home;
$env:PsModulePath += ";c:\home\modules";
Import-Module Launcher;
</value>
      </setting>
      <setting name="CustomCmd1" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel1" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd2" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel2" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd3" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel3" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd4" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel4" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd5" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel5" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd6" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel6" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd7" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel7" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd8" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel8" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd9" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel9" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmd10" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomCmdLabel10" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowserUrl" serializeAs="String">
        <value>http://www.ethz.ch/</value>
      </setting>
      <setting name="NotificationText" serializeAs="String">
        <value>Please come to the counter window</value>
      </setting>
      <setting name="WaitFormText" serializeAs="String">
        <value>Please wait`nBitte Warten</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value>c:\home</value>
      </setting>
      <setting name="Endpoint" serializeAs="String">
        <value>http://localhost:8000/PowerShellTunnel/Host1</value>
      </setting>
    </Launcher.Properties.Settings>
  </userSettings>
</configuration>
